# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 7

print(number)

7

##### Assinging float

In [2]:
number = 7.1

print(number)

7.1

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 7
num2 = 8

print(num1 + num2)

15

##### Subtraction

In [4]:
subtract = num1 - num2

print(subtract)

-1

##### Multiplication

In [6]:
multiply = num1 * num2

print(multiply)

56

##### Division

In [7]:
divide = num1 / num2

print(divide)

0.875

##### Floor Division

In [12]:
num1 = 18.5
num2 = 25.2

floor = num1 // num2

print(floor)

0.0

##### Modulo

In [14]:
mod = num1 % num2

print(num1, "mod", num2, "=",
      mod)

18.5 mod 25.2 = 18.5

##### Exponential

In [15]:
expo = num1 ** num2

print(expo)

8.565003716631236e+31

### String Input-Output

##### String Assignment

In [19]:
string = "hello everyone"

##### print() <br>
<p>Don't forget about end=' '</p>

In [18]:
print(string)

hello everyone

##### String Concatenation

In [20]:
a = "Hello"
b = "Everyone"
c = a + " " + b

print(c)

Hello Everyone

##### Type Conversion

In [27]:
int_num = 12
float_num = 1.3

new_num = int_num + float_num
results = f"12 + 1.3 implicitly becomes {new_num}."

print(results)

12 + 1.3 implicitly becomes 13.3.

##### input()

In [28]:
birthDate = input("What is your birth date?: ")

What is your birth date?:  March 3rd

##### format()

In [33]:
num = 233333

binary_num = format(num)

print(binary_num)

233333

##### Old Way (python 2)

In [36]:
string = "For only {price:.4f} dollars!"

print(string.format(price = .369))

For only 0.3690 dollars!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [8]:
name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}."

print(results)

What is your name?:  Justin
What color is your car?:  Grey
What year is your car?:  2019
What model is your car?:  Dodge Charger SXT
Justin, your 2019 Dodge Charger SXT's color is Grey.

Justin, your 2019 Dodge Charger SXT's color is Grey.

### If Statements

In [40]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

numA = 9
numB = 6

if numB > numA:
  print("b is greater than a")
elif numA == numB:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

##### 'is' keyword

In [53]:
gba_char = "soma cruz"

if 'soma cruz' == gba_char:
    print('The character is Soma Cruz.')

The character is Soma Cruz.

##### 'in' keyword

In [54]:
gba_char = "soma cruz"

if 'soma' in gba_char:
    print('The character is Soma Cruz.')

The character is Soma Cruz.

##### 'not in' keyword'

In [58]:
gba_char = "Issac"

if 'soma' not in gba_char:
    print('The character is unknown.')

The character is unknown.

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [63]:
user = input("Enter username:")

if 'p' in user:
    print("The username is: " + user)
else:
    print("The letter 'p' is not there.")

Enter username: Prince
The letter 'p' is not there.

The letter 'p' is not there.

## Using 'and'/'or' with If Statements

In [2]:
num1 = 3
num2 = 20
if num2 > num1:
  print("num1 is greater than num2")

num1 is greater than num2

### Elif Statements

In [5]:
num1 = 5
num2 = 5

if num2 > num1:
  print("num1 is greater than num2")
elif num1 == num2:
  print("num1 and num2 are equal")

num1 and num2 are equal

### Else Statements

In [13]:
num1 = 4
num2 = 7

if num1 > num2:
  print("num1 is greater than num2")
elif num1 == num2:
  print("num1 and num2 are equal")
else:
    print("num1 is less than num 2")

num1 is less than num 2

### For Loops

In [15]:
brands = ["dodge", "ford", "chevy"]

for x in brands:
  print(x)

dodge
ford
chevy

##### Using 'in' keyword

In [16]:
# see above
apple = "manzana"

for x in apple:
  print(x)

m
a
n
z
a
n
a

##### Continue Statement

In [ ]:
# will continue to next iteration

In [20]:
brands = ["dodge", "ford", "chevy"]

for x in brands:
  if x == "ford":
    continue
  print(x)

dodge
chevy

##### Break Statement

In [ ]:
# will break out of current loop

In [21]:
fruits = ["manzana", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

manzana
banana

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [22]:
for x in [0, 1, 2]:
  pass

##### Double For Loops

In [23]:
desc = ["purple", "hydrating", "delicious"]
fruits = ["black berries", "blue berries", "watermelon"]

for x in desc:
  for y in fruits:
    print(x, y)

purple black berries
purple blue berries
purple watermelon
hydrating black berries
hydrating blue berries
hydrating watermelon
delicious black berries
delicious blue berries
delicious watermelon

### While Loops

In [25]:
i = 1
while i < 3:
  print(i)
  i += 1

1
2

##### Looping 'While True'

In [26]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

##### While & For Loops Used Together

In [42]:
num = 0

while num < 7:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(3):
        print("For loop iteration: " , str(i + 1))
        
    num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 5
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

While loop iteration: 6
For loop iteration:  1
For loop iteration:  2
For loop iteration:  3

### Built-In Functions

##### range()

In [44]:
x = range(12)

for n in x:
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11

##### len()

In [48]:
mylist = ["manzana", "banana", "cherry"]

x = len(mylist)

print(x)

3

##### help()

In [49]:
help()

Welcome to Python 3.12's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

##### isinstance()

In [50]:
x = isinstance(5, float)

print(x)

False

##### abs()

In [51]:
x = abs(-7.25)

print(x)

7.25

### Try and Except

In [1]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

### Lists

##### Declaring Lists

In [2]:
list = ["butchery", "ice cream", "bakery"]

print(list)

['butchery', 'ice cream', 'bakery']

##### Indexing a List

In [2]:
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
variable = 4
list_numbers.index(variable)

3

##### .append()

In [4]:
fruits = ['apple', 'banana', 'cherry']

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

##### .insert()

In [9]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(2, "orange")

print(fruits)

['apple', 'banana', 'orange', 'cherry']

##### .pop()

In [12]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(0)

print(fruits)

['banana', 'cherry']


##### .remove()

In [14]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)

['apple', 'cherry']

##### del()

In [20]:
fruits = ['apple', 'banana', 'cherry']

del fruits[2]

print(fruits)

['apple', 'banana']

##### Concatenating Two Lists

In [22]:
list1 = [1, 4, 5, 6, 5]
list2 = [3, 5, 7, 2, 5]
 
for i in list2 :
    list1.append(i)

print ("The concatenated list is: " + str(list1))

The concatenated list is: [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

##### Lists Within Lists

In [23]:
nest = [[22, 14, 16], ["Joe", "Sam", "Abel"], [True, False, True]]

print(nest)

[[22, 14, 16], ['Joe', 'Sam', 'Abel'], [True, False, True]]

##### Looping Through Lists

In [32]:
nest = [[22, 14, 16], ["Joe", "Sam", "Abel"], [True, False, True]]

for i in range(1):
    nest.append(["bakery", "ice cream", "butchery"])

print(nest)

[[22, 14, 16], ['Joe', 'Sam', 'Abel'], [True, False, True], ['bakery', 'ice cream', 'butchery']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [13]:
numCube = []

for count in range (1, 11):
    numCubes = count ** 3
    numCube.append(numCubes)

for numCubes in numCube:
    print(numCubes)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [20]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def primeCount():

    for i in range(2, 100+1):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(f"The prime number is: ", i)


print(f"The prime numbers within 100 are: ")
primeCount()

The prime numbers within 100 are:
The prime number is:  2
The prime number is:  3
The prime number is:  5
The prime number is:  7
The prime number is:  11
The prime number is:  13
The prime number is:  17
The prime number is:  19
The prime number is:  23
The prime number is:  29
The prime number is:  31
The prime number is:  37
The prime number is:  41
The prime number is:  43
The prime number is:  47
The prime number is:  53
The prime number is:  59
The prime number is:  61
The prime number is:  67
The prime number is:  71
The prime number is:  73
The prime number is:  79
The prime number is:  83
The prime number is:  89
The prime number is:  97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [27]:
age = int(input('Enter your age: ')) 

if age <= 18: 
    print('children') 
else:
    print('elders')

Enter your age:  17

children